.advantages__list-inner {
  list-style-type: none;
  background-color: #ffffff;
  color: #000000;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 17px;
  padding-top: 26px;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 256px);
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 400px);
  }
}

.advantages__item--house {
  background: url("../images/advantage/icon-house.svg") no-repeat;

  @media (min-width: @tablet-width) {
    .advantages__item--house ();
  }

  @media (min-width: @desktop-width) {
    .advantages__item--house-desctop ();
  }
}

.advantages__item--food {
  background: url("../images/advantage/icon-burger.svg") no-repeat;

  @media (min-width: @tablet-width) {
    .advantages__item--food ();
  }

  @media (min-width: @desktop-width) {
    .advantages__item--food-desctop ();
  }
}

.advantages__item--gift {
  background-image: url("../images/advantage/icon-gift.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    .advantages__item--gift ();
  }

  @media (min-width: @desktop-width) {
    .advantages__item--house-desctop ();
  }
}
