.like__toggle {
  background-color: transparent;

  &:hover {
    background: transparent;
  }

  &:active {
    background: transparent;
  }
}

.like__counter {
  background-color: transparent;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
