.like__toggle {
  background-color: transparent;
  color: #000000;
  opacity: 30%;

  @media (min-width: @desktop-width) {
    color: #ffffff;
    opacity: 100%;
  }

  &:hover {
    background: transparent;
  }

  &:active {
    background: transparent;
  }
}

.like__counter {
  background-color: transparent;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 5px;

  @media (min-width: @desktop-width) {
    color: #ffffff;
    padding-top: 10px;
  }
}
