.main-header {
  background-color: #ffffff;
  width: 320px;
  min-height: 56px;
  padding-left: 18px;
  padding-right: 18px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 768px;
    min-height: 56px;
    justify-content: space-around;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.main-header__logo {
  padding-left: 49px;
  padding-right: 25px;
  margin-bottom: -40px;

  @media (min-width: @tablet-width) {
    position: absolute;
    padding: 0;
    right: 291px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    padding: 0;
    right: auto;
  }
}

.main-header__img {
  max-width: 185px;
}
