.main-header {
  background-color: #ffffff;
  width: 320px;
  padding-left: 18px;
  padding-right: 18px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 768px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.main-header__logo {
  margin-left: 49px;
  margin-right: 25px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
