.main-footer {
  padding: 28px 77px 22px 77px;
}

.main-footer__site-sedona {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: block;
  padding-bottom: 33px;
}

.social__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 6px;
  margin: 0;
  padding: 0 0 40px 0;
}

.social__link {
  padding: 15px 13px 15px 13px;
  display: block;
}

.main-footer__create {
  text-align: center;
}

.create__link {
  color: #000000;

  &:hover {
    color: @color-blue;
  }

  &:active {
    color: #b3b3b3;
  }
}
