.modal {
  background-color: #ffffff;
}

.modal__text {
  padding: 45px 41px 28px 41px;
  text-align: center;
}

.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}

.modal__description {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.modal__error--button {
  width: 180px;
  padding: 18px 63px 14px 64px;
  margin: 0 70px 35px 70px;
  font-size: 18px;
  line-height: 26px;
}

.modal__accepted--button {
  width: 280px;
  padding: 18px 60px 14px 62px;
  margin: 20px;
  font-size: 18px;
  line-height: 26px;
}
