.search {
  padding: 44px 18px 49px 18px;

  @media (min-width: @tablet-width) {
    padding: 44px 18px 56px 18px;
  }
}

.search__text {
  padding: 0 11px 32px 11px;

  @media (min-width: @tablet-width) {
    padding: 20px 110px 40px 110px;
  }

  @media (min-width: @desktop-width) {
    padding: 69px 300px 45px 300px;
  }
}

.search__title {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    padding-bottom: 35px;
  }
}

.search__descrition {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.search__button {
  padding: 20px 0 20px 0;
  display: block;

  @media (min-width: @tablet-width) {
    width: 458px;
    padding: 18px 0 18px 0;
    margin-left: 137px;
  }

  @media (min-width: @desktop-width) {
    padding: 14px 1px 17px 1px;
    margin-left: 371px;
  }
}
