.video {
  padding: 17px 20px 0 20px;
}

.video__wrapper {
  padding: 0 8px 38px 8px;
}

.video__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}

.video__description {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
