.emotions {
  padding: 24px 20px 56px 20px;

  @media (min-width: @tablet-width) {
    padding: 73px 0 48px 0;
  }
}

.emotions__titel {
  text-align: center;
}

.emotions-field {
  width: 279px;
  height: 150px;
  background: #f2f2f2;
  border: none;
  text-indent: 16px;


  @media (min-width: @tablet-width) {
    width: 648px;
    height: 160px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 768px;
    margin-left: 96px;
    margin-right: 96px;
  }
}
