.form__group {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

.form__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.form__subtitel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}

.form__label {
  padding-left: 18px;
}

.form__infomation {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 323px);
    padding-bottom: 49px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 493px 466px;
    padding-bottom: 56px;
  }
}

.form__infomation::before {
  @media (min-width: @tablet-width) {
    position: absolute;
    content: "";
    width: 338px;
    border-bottom: 1px solid #d6d6d6;
    transform: rotate(90deg);
    top: 169px;
    right: 156px;
  }

  @media (min-width: @desktop-width) {
    right: 296px;
  }
}
