.form__group {
  border: 0;
  margin: 0;
  padding: 0;
}

.form__titel {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.form__subtitel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}

.feedback__wrapper {
  @media (min-width: @tablet-width) {
    padding: 0 60px 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px 0 120px;
  }
}
