.button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
}
.button:hover {
  background: #679ec1;
}
.button:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}
html {
  height: 100%;
}
.page__body {
  width: 320px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background: #ffffff;
}
img {
  max-width: 100%;
  object-fit: contain;
}
.main-header {
  background-color: #ffffff;
  width: 320px;
  padding-left: 18px;
  padding-right: 18px;
  box-sizing: border-box;
}
.main-header__logo {
  margin-left: 49px;
  margin-right: 25px;
}
.main-nav {
  width: 100%;
  margin: 0;
  padding: 0;
}
.main-nav__toggle {
  padding-left: 1px;
  padding-top: 17px;
  padding-bottom: 17px;
  color: #80b2d1;
  border: none;
  background-color: #ffffff;
}
.main-nav__toggle:hover {
  color: rgba(129, 179, 210, 0.6);
}
.main-nav__toggle:active {
  color: rgba(129, 179, 210, 0.3);
}
.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-nav__link {
  text-decoration: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
}
.main-nav__button {
  width: 320px;
  display: block;
  padding-top: 17px;
  padding-bottom: 12px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.main-nav__button-close {
  background-image: url("./images/icon-close.svg");
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;
}
.main-nav__button-close:hover {
  opacity: 60%;
}
.main-nav__button-close:active {
  opacity: 30%;
}
.main-container {
  width: 320px;
  background-color: #ffffff;
  color: #000000;
}
.intro__background-image {
  background-color: #58b8f8;
  width: 320px;
  height: 389px;
  background: url("../images/intro/intro-triangle-up.svg") no-repeat bottom, url("../images/intro/back-mobile.jpg") right bottom no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 90px;
  text-align: center;
}
.intro__background-image--catalog {
  height: 158px;
  background: url("../images/intro/intro-triangle-up.svg") no-repeat bottom, url("../images/intro/back-mobile.jpg") right bottom no-repeat;
  padding-top: 52px;
}
.intro__wrapper {
  padding-left: 18px;
  padding-bottom: 28px;
  padding-top: 32px;
  padding-right: 18px;
}
.intro__slogan {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 35px;
}
.intro__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.intro__description--catalog {
  font-size: 12px;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.advantages__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 11px;
}
.advantages__title--icon {
  padding-bottom: 16px;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.advantages__number {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 17px;
}
.advantages__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
.advantages__item {
  background-color: #eeeeee;
}
.advantages__item--triangle {
  background: url("../images/intro/itro-trangle-down.svg") no-repeat top;
  background-color: #81b3d2;
  color: #ffffff;
  padding-top: 21px;
}
.advantages__item--photo {
  background-color: #81b3d2;
  color: #ffffff;
}
.advantages__text {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  padding-left: 18px;
  padding-right: 18px;
}
.advantages__text--photo {
  padding-bottom: 37px;
  padding-top: 37px;
  text-align: center;
}
.advantages__text--icon {
  padding-left: 47px;
  padding-bottom: 33px;
  padding-top: 7px;
  text-align: left;
}
.advantages__img {
  width: 320px;
  max-width: 800px;
  object-fit: cover;
  display: block;
}
.advantages-inner__list {
  list-style-type: none;
  background-color: #ffffff;
  color: #000000;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 13px;
  padding-top: 24px;
  margin: 0;
}
.advantages__item--house {
  background: url("../images/advantage/icon-house.svg") no-repeat;
}
.advantages__item--food {
  background: url("../images/advantage/icon-burger.svg") no-repeat;
}
.advantages__item--gift {
  background: url("../images/advantage/icon-gift.svg") no-repeat;
}
.search {
  padding: 38px 18px 49px 18px;
}
.search__text {
  padding: 0 11px 32px 11px;
}
.search__titel {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}
.search__descrition {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.search__button {
  padding: 16px 0 16px 0;
  display: block;
}
.main-footer {
  padding: 28px 77px 22px 77px;
}
.main-footer__site-sedona {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: block;
  padding-bottom: 33px;
}
.social__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 6px;
  margin: 0;
  padding: 0 0 40px 0;
}
.social__link {
  padding: 15px 13px 15px 13px;
  display: block;
}
.main-footer__create {
  text-align: center;
}
.create__link {
  color: #000000;
}
.create__link:hover {
  color: #81b3d2;
}
.create__link:active {
  color: #b3b3b3;
}
.main-catalog-container {
  margin: 0;
  padding: 0;
}
.photo__wrapper {
  padding: 24px 20px 24px 20px;
}
.photo__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.photo__img {
  object-fit: cover;
}
.photo__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  padding: 15px 0 1px 0;
}
.photo__author {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}
.photo__like {
  padding: 11px 0 25px 0;
  display: flex;
  gap: 14px;
}
.like__toggle {
  background-color: transparent;
}
.like__counter {
  background-color: transparent;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
.video {
  padding: 17px 20px 0 20px;
}
.video__wrapper {
  padding: 0 8px 38px 8px;
}
.video__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}
.video__description {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.text-form {
  padding: 36px 20px 28px 20px;
  text-align: center;
}
.text-form__titel {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 24px;
}
.text-form__description {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.form__group {
  border: 0;
  margin: 0;
  padding: 0;
}
.introduce {
  padding: 24px 20px 39px 20px;
}
.customer-contact {
  padding: 24px 20px 34px 20px;
}
.form__titel {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.form__subtitel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}
.introduce-field {
  width: 280px;
  height: 58px;
  background: #f2f2f2;
  border: none;
  margin-bottom: 16px;
}
.customer-contact-field {
  width: 280px;
  height: 58px;
  background: #f2f2f2;
  border: none;
  padding-right: 40px;
  margin-bottom: 16px;
}
.emotions {
  padding: 24px 20px 56px 20px;
}
.emotions__titel {
  padding-bottom: 20px;
  text-align: center;
}
.emotions-field {
  width: 279px;
  height: 150px;
  background: #f2f2f2;
  border: none;
}
.form__wrape {
  padding: 0 20px 24px 20px;
}
.form__button {
  width: 280px;
  padding: 16px 30px 16px 30px;
  margin: 0;
}
.required-field {
  padding-left: 115px;
}
.attraction__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.attraction__titel {
  padding-bottom: 30px;
}
.attraction__item {
  padding-bottom: 36px;
  padding-left: 82px;
}
.impress {
  margin: 24px 20px 34px 20px;
}
.impress__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.impress__item {
  padding-bottom: 36px;
  padding-left: 82px;
}
.impress__titel {
  padding-bottom: 30px;
}
.attraction__item {
  padding-bottom: 36px;
  padding-left: 82px;
}
.attraction__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.modal__text {
  padding: 45px 41px 28px 41px;
  text-align: center;
}
.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}
.modal__description {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.modal__error--button {
  width: 180px;
  padding: 18px 63px 14px 64px;
  margin: 0 70px 35px 70px;
  font-size: 18px;
  line-height: 26px;
}
.modal__accepted--button {
  width: 280px;
  padding: 18px 60px 14px 62px;
  margin: 20px;
  font-size: 18px;
  line-height: 26px;
}
/*# sourceMappingURL=style.css.map */
